<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Pizza Time</title>
    <link rel="stylesheet" th:href="@{/styles/home.css}">
</head>

<body>
    <div>
        <h1>It's time for pizza :D</h1>
        <img th:src="@{/images/pizzaHome.png}" style="width: 500px; height: 300px;">
    </div>
    
    <div>
        <form method="get" th:action="@{/design}" >
            <button type="submit" id="buttonStart">Design and order your pizza!</button>
        </form>
    </div>
</body>
</html>