<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Pizza Time</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        h1 {
            color: #ff6347;
            margin-top: 20px;
        }
        img {
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <h1>It's time for pizza :D</h1>
    <img th:src="@{/images/pizzaHome.png}" style="width: 500px; height: 300px;">
</body>
</html>